:root {
  --logo-color: #ff6e30;
  --background-color: #1e252b;
  --title-color: #ffffff;
  --text-color: rgba(255, 255, 255, 0.55);
  --text-hower-color: rgba(255, 255, 255, 0.78);
  --text-input-color: #837a93;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  background-color: var(--background-color);
}
.logo {
  color: var(--title-color);
  font-weight: 600;
  font-size: 22px;
  margin-left:10px;
  display: inline-block;
}
.link {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  display: flex;
  align-items: center;
}
.header-btn {
  border: none;
  font-weight: 600;
  font-size: 16px;
  width: 118px;
  height: 48px;
  color: rgba(255, 255, 255, 0.55);
  background-color: var(--background-color);
  border-radius: 8px;
  cursor: pointer;
}
.header-btn:hover,
 .header-btn:focus{
  background-color: #ff6e30;
  color: #ffffff;
  cursor: pointer;
 }
.btn {
  border: none;
  width: 118px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}
.title {
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.55);
}
.input {
  border-radius: 15px;
  width: 549px;
  height: 64px;
  background: #283036;
  border: none;
}
.button {
  border-radius: 8px;
  width: 130px;
  height: 48px;
  background-color: var(--logo-color);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.tools-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.tools-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}
.tools-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.78);
}
.tools-item-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgba(255, 165, 55, 0.55);
}
.tools-item-lorem {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 187%;
  color: rgba(255, 255, 255, 0.55);
}
.tools-btn {
  width: 106px;
  height: 42px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.tools-button {
  width: 184px;
  height: 64px;
  font-weight: 500;
  font-size: 20px;
  color: #ff6e30;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background: #1e252b;
  cursor: pointer;
}
.brand-title {
  height: 142px;
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.antools-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}
.antools-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.55);
}
.antools-btn {
  width: 198px;
  height: 58px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  background: #ff6e30;
  border: none;
  cursor: pointer;
}
.ronald-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.78);
}
.join-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.join-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}
.join-input {
  border-radius: 15px;
  width: 549px;
  height: 64px;
  background: #283036;
  border: none;
}
.join-btn {
  width: 130px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  background: #ff6e30;
  border: none;
  margin-left: -140px;
  margin-top: 9px;
  cursor: pointer;
}
.antools-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.78);
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: rgba(255, 255, 255, 0.55);
}
.footer-item-title {
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-item-text{
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}
.header{
  margin-top: 31px;
  margin-bottom: 104px;
}
.hero{
  background-image: url(../img/maskgroup.webp) ;
  background-repeat: no-repeat;
}
.title{
  margin-bottom: 30px;
}
.text{
  margin-bottom: 60px;
}
.button{
  margin-bottom: 110px;
}
.tools-title{
   margin-top: 200px;
   margin-bottom: 20px;
}
.tools-text{
  margin-bottom: 90px;
}
.tools-item{
  margin-bottom: 133px;
}
.tools-button{
  margin-bottom: 200px;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrap{
  display: flex;
  align-items: center;
}
.item{
  margin-left: 20px;
  margin-right: 20px;

}
.button-list{
  display: flex;
  align-items: center;
}
.img-wrap{
  display: flex;
  gap: 13px;
}
.tools-item:hover,
.tools-item:focus{
  background-color:#262f37;
  border-radius: 30px;
  background-image: linear-gradient(to top right, #262f37 75%, rgba(255, 128, 0, 0.252));
}
.button-wrap{
  display: flex;
  justify-content: center;
}
.brand-title{
  display: flex;
  justify-content: center;
}
.brand-list{
  display: flex;
  justify-content: space-around;
}
.ronald-wrap{
  display: flex;
}
.ronald-text{
  margin-top: 307px;
  margin-left: 50px;
}
.foooter-wrap{
  display: flex;
}
.ronald{
  justify-content: center;
}
.tools-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.antools-list{
  display: flex;
  flex-wrap: wrap;
  gap: 108px;
  justify-content: center;
}
.form-wrap{
  display: flex;
}
.ronald-wrap{
  display: flex;
  justify-content: center;
}
.antools-wrap{
  display: flex;
  justify-content: space-between;
}
.footer-wrap{
  display: flex;
  justify-content: space-between;
}
.item-wrap{
  display: flex;
  flex-direction: column;
}
.item-box{
  display: flex;
}
.wrap-item{
  display: flex;
}
.antools-item:hover,
.antools-item:focus{
  background-color:#262f37;
  border-radius: 30px;
  background-image: linear-gradient(to top right, #262f37 75%, rgba(255, 128, 0, 0.252));
}
.tools-btn:hover,
.tools-btn:focus{
  background-color: #ff6e30;
  border-radius: 7px;
  color: white;
}
.hero-wrap{
  display: flex;
}
.button{
  margin-top: 7px;
  margin-left: -140px;
}
.join-wrap{
  display: flex;
  justify-content: center;
}
.brand-img{
  margin-bottom: 250px;
}
 .ronald-img{
  margin-top: 207px;
  margin-bottom: 351px;
 }
 .join-text{
  margin-top: 25px;
  margin-bottom: 100px;
 }
 .join-input{
  margin-bottom: 310px;
 }
 .footer-title{
  margin-top: 25px;
  margin-bottom: 21px;
 }
 .tools-img{
  padding-right: 25px;
  padding-bottom: 29px;
  margin-left: 33px;
  margin-top: 33px;
 }
 .tools-subtitle{
  padding-bottom: 7px;
  margin-top: 33px;
 }
 .tools-item-lorem{
  padding-bottom: 30px;
  margin-left: 33px;
  margin-right: 33px;
 }
 .tools-img-second{
  width: 42px;
  height: 42px;
  margin-left: 33px;
 }
 .tools-btn{
  margin-left: 124px;
  margin-bottom: 33px;
  margin-right: 33px;
 }
 .antools-subtext{
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.55);
  margin-top: 30px;
  margin-bottom: 60px;
 }
 .antools-img-second{
  width: 42px;
  height: 42px;
  padding-left: 22px;
  margin-top: 30px;
 }
 .antools-text{
  padding-left: 22px;
  margin-top: 30px;
  margin-right: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
 .antools-img{
  padding-left: 22px;
  padding-top: 28px;
  padding-right: 28px;
 }
 .antools-button{
  width: 106px;
  height: 42px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  margin-left: 43px;
  margin-right: 21px;
  margin-bottom: 28px;
  margin-top: 30px;
  cursor: pointer;
 }
 .antools-button:hover,
 .antools-button:focus{
  background-color: #ff6e30;
  border-radius: 7px;
  color: white;
 }
 .antools-subtitle{
  padding-top: 28px;
  padding-bottom: 7px;
 }
 .link:hover,
 .link:focus{
  color: #ff6e30;
 }
 
 .btn:hover,
 .btn:focus{
  background-color: #ff6e30;
  border: none;
  width: 118px;
  height: 48px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
 }
 .footer-text:hover,
 .footer-text:focus{
  color: #ff6e30;
  cursor: pointer;
 }
 .logo-icon{
  width: 38px;
  height: 38px;
  fill: #ff6e30;
 }
 .logo-icon:hover,
 .logo-icon:focus{
  fill-opacity: 0.9;
 }
 .arrow-icon{
  width: 18px;
  height: 18px;
  fill: #837a93;
 }
 .arrow-icon:hover,
 .arrow-icon:focus{
  fill: #ff6e30;
 }
 .img-icon{
  width: 34px;
  height: 34px;
  fill: white;
 }
 .img-icon:hover,
 .img-icon:focus{
  fill: #ff6e30;
 }

